img {
  width: 100%;
}

main {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

@media screen and (min-width: 600px) {
  main {
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }
}

@media screen and (max-width: 600px) {
  .forside {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border: solid 1px var(--quarternary);
    margin-top: var(--space-xs);
  }
  p {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-l);
  }

  h2 {
    padding-top: var(--space-l);
  }

  h3 {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-l);
  }
}

iframe {
  width: 100%;
}
