img {
  width: 100%;
}

.grid_portræt {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

h2 {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

h3 {
  padding-top: 0rem;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}
h4 {
  padding-top: 3rem;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

p {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.about {
  margin-bottom: 3rem;
  display: block;
  margin-top: -2rem;
}

.firkant {
  width: 85%; /* Bredde på firkanten */
  height: 620px; /* Højde på firkanten */
  border: 2px solid black; /* Sort kant med 2px tykkelse */
  background-color: transparent; /* Ingen fyld */
  position: absolute;
  margin-top: -45.5rem;
  margin-left: var(--space-l);
  margin-right: var(--space-xl);
}

.info_om {
  max-width: 1200px;
  margin: 0 auto;
}

.billede_tekst {
  font-size: var(--size-xxs);
  margin: 0;
}

.mexico {
  max-width: 100px;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.flex_om {
  display: flex;
  margin-top: 7rem;
  justify-content: space-between;
}

.streg {
  width: 100%;
  height: 1.2px;
  background-color: var(--quarternary);
}

.cv_indhold {
  margin-top: 2rem;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.sko {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

#kontakt {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--tertiary);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.mail_om {
  color: var(--primary);
}

.social_om {
  color: var(--primary);
}

.social_om:hover {
  text-decoration: underline;
}

.lottiefile_mobil {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mail_box {
  margin-top: 1rem;
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-size: var(--size-l);
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-size: var(--size-l);
  background-color: var(--secondary);
  border: solid var(--quarternary) 1px;
  border-radius: 10px;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

@media screen and (max-width: 700px) {
  .ansigt {
    margin-top: 2rem;
    margin-right: var(--space-sm);
    max-width: 250px;
    position: absolute;
    right: 0;
  }

  .hår {
    max-width: 350px;
    padding-top: 21rem;
    padding-bottom: 2rem;
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
  }
}

@media screen and (max-width: 700px) {
  .lottiefile_desktop {
    display: none;
  }
  .lille_billede {
    display: none;
  }
  .grid_tekst_billede {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .lottiefile_mobil {
    display: none;
  }

  .lottiefile_desktop {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .grid_portræt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }
  .overskrift_om {
    align-content: end;
    padding-bottom: 2rem;
  }

  .lille_billede {
    justify-content: end;
  }
  .grid_om {
    display: grid;
    grid-template-columns: 10fr 10fr 2fr 1fr;
  }
  .about {
    margin-bottom: 5rem;
    display: block;
    margin-top: -10rem;
  }
  .billede_tekst {
    font-size: var(--size-s);
    margin: 0;
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ansigt {
    max-width: 400px;
    justify-self: center;
  }

  .hår {
    max-width: 400px;
    justify-self: center;
  }

  .kompetencer {
    margin-top: 10rem;
    margin-right: 10rem;
  }

  .intro_om {
    align-self: center;
    margin-left: 10rem;
    margin-top: 4rem;
  }

  .firkant {
    max-height: 1550px;
    max-width: 1150px;
    margin-top: -32rem;
    position: absolute;
  }

  #kontakt {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sko {
    max-width: 200px;
    justify-self: end;
    align-self: end;
  }

  .cv {
    padding-top: 10rem;
    padding-bottom: 0.5rem;
  }
  .kontakt_mig {
    margin-top: 5rem;
  }
}
