/* fire projekter */

.billede_portfolio {
  max-height: 250px;
  width: 100%;
  border: solid rgb(0, 0, 0) 0.5px;
  object-fit: cover;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.to_billeder {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
}

.p_portfolio {
  text-align: end;
}

.tekst_portfolio {
  padding-bottom: 4rem;
  text-align: center;
  margin-top: -6rem;
}

.to_billeder_1,
.to_billeder_2 {
  display: flex;
  justify-content: space-around;
}

.boks_portfolio {
  position: relative;
  margin: 10px;
}

.to_billeder_1 .boks_portfolio.hovered .billede_portfolio,
.to_billeder_2 .boks_portfolio.hovered .billede_portfolio {
  opacity: 1;
}

.billede_portfolio.fade-out {
  opacity: 0.3;
}

.flex_portfolio {
  display: flex;
  justify-content: space-between;
}

.streg {
  margin-right: 1rem;
}

@media screen and (min-width: 700px) {
  .portfolio_flex {
    display: flex;
    align-items: flex-end;
    padding-bottom: var(--space-l);
  }

  .billede_portfolio {
    max-height: 400px;
    width: 100%;
  }
  .portfolio_overskrift {
    font-size: 6rem;
    margin-top: 6rem;
  }
  .tekst_portfolio {
    padding-bottom: 7rem;
    text-align: center;
    margin-top: -6rem;
  }
}
