/* sammenfatte side af de fire portfoliosider */
/* generel */
img {
  width: 100%;
}

main {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.grid_elementer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

iframe {
  width: 100%;
}

.titel_indhold {
  padding-bottom: 0;
  padding-top: var(--space-l);
  color: var(--quarternary);
}

.overskrift_indhold {
  padding-bottom: var(--space-s);
}

.streg {
  width: 100%;
  height: 1.2px;
  background-color: var(--quarternary);
  margin-bottom: var(--space-l);
}

.tilbage {
  padding-bottom: var(--space-m);
}

.flex_titel {
  display: flex;
  justify-content: space-between;
}

/* mobil */
@media screen and (max-width: 600px) {
  p {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-l);
  }

  h2 {
    padding-top: var(--space-l);
  }
  h1 {
    padding-bottom: var(--space-l);
  }
}

/* desktop */
@media screen and (min-width: 600px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  p {
    padding-top: var(--space-m);
  }

  .website_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .bunden {
    align-items: end;
    margin-top: var(--space-m);
    padding-bottom: var(--space-xl);
  }

  .galleri_billede {
    display: none;
  }

  .midten {
    margin-top: var(--space-m);
  }
  .order {
    order: -1;
  }
  .læring {
    padding-bottom: var(--space-sm);
  }
}

/* gør at margin fungerer indtil max-width optræder*/
@media (min-width: 600px) and (max-width: 1250px) {
  main {
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }
}
